<h2>User info</h2>
<%= render 'shared/user', user:@user%>
<% if user_signed_in? %>
  <%= link_to "Sign Out", sign_out_user_path, method: :delete %>
<% end %>

<p><b>Bio: </b>
  <%=@user.bio%>
</p>
<%= link_to 'Add new post', new_post_path(user_id: @user.id) %>

<% if @user.posts.any? %>
  <ul>
    <% @user.recent_posts.each do |post| %>
      <li>
      <a href='/users/<%=@user.id%>/posts/<%=post.id%>'><%= post.title %></a>
      <p>Text: <%= post.text %></p>
      <p>Comments: <%=post.comments_counter%></p>
      <p>Likes: <%=post.likes_counter%></p>
      </li>
    <% end %>
  </ul>
  <button><a href='/users/<%=@user.id%>/posts'>See all posts</a></button>
<% else %>
  <p>No posts available.</p>
<%end%>