<h2> User posts</h2>
<%= render 'shared/user', user:@user%>
<%= link_to 'Add new post', new_post_path %>
<div>
  <% if @user.posts.any? %>
    <ul>
      <% @user.recent_posts.each do |post| %>
        <li>
        <div>
          <a href='/users/<%=@user.id%>/posts/<%=post.id%>'>
            <%= post.title %>
          </a>
          <p>Comments: <%=post.comments_counter%></p>
          <p>Likes: <%=post.likes_counter%></p>
        </div>
        <div>
        <%post.recent_comments.each do |comment|%>
          <p><%=@user.name%>: <%=comment.text%></p>
          <%end%>
        </div>
        </li>
      <% end %>
    </ul>
    <button>Pagination</button>
  <% else %>
    <p>No posts available.</p>
  <%end%>
</div>