
<section>
  <div>
    <span class='post_details'>
      <h2> Post #<%=@post.id%> by <%=@user.name%> </h2>
      <p>Comments: <%=@post.comments_counter%>,</p>
      <p>Likes: <%=@post.likes_counter%></p>
    </span>
    <b>Title: <%=@post.title%></b>
    <p>Post: <%=@post.text%></p>
    <% if can?(:destroy, @post) %>
    <%= button_to 'Delete Post', posts_delete_path, method: :delete %>
    <% end %>
  <%= render 'shared/like'%>
  </div>
   <div>
   <b>Comments</b>
    <%@post.comments.each do |comment|%>
      <p>user: <%=comment.author.name%>, reply: <%=comment.text%></p>
      <%end%>
    <button>
    <%= link_to 'Add new comment', new_comment_path %>
    </button>
    </div>
   
</section>
